<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="navbar"  class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">KKC PRODUCTION</a>
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
             <div  th:fragment="navbar" class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">All Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/allProducts">Costings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rm">Raw Materials</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/get-rates">Configurations</a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>

</div>





</body>
</html>